node_modules/
.pnpm/

# Node & Build
node_modules
dist
build
.next
out
.vite
.vite-temp
coverage
.env
.env.local

# OS & IDE
.DS_Store
*.log
.vscode
*.swp

# .gitignore
node_modules
.next
dist
.vite
.vite-temp
.env
.env.local

node_modules/
.pnpm/
